<div id="files">
  <!-- HEADER -->
  <div class="header md-accent-bg" layout="column">
    <div layout="row" layout-align="space-between center" flex>
      <div class="white-fg" layout="column" layout-align="start start">
        <div class="h1" layout="row" layout-align="start center">
          <span translate="FILES.TITLE" translate-values="{ selectedTabName: vm.selectedTabName }"></span>
        </div>
      </div>

      <div class="search-input-wrapper" layout="row" layout-align="start center">
        <label for="mp-table-search">
          <md-icon md-font-icon="icon-magnify"></md-icon>
        </label>
        <md-input-container md-no-float class="m-0">
          <input id="mp-table-search" ng-model="vm.tableSearch" class="search-input" placeholder="Search" type="text"
                 translate
                 translate-attr-placeholder="SEARCH">
        </md-input-container>
      </div>
    </div>

    <div class="breadcrumbs" layout="row" layout-align="start center">
      <div class="breadcrumb" ng-repeat="b in vm.bc">
        <a ui-sref="eygle.files.file({id: b._id})" ng-if="b">{{b.filename}}</a>
        <a ui-sref="eygle.files()" ng-if="!b">
          <md-icon md-font-icon="icon-server"></md-icon>
          <md-tooltip><span translate="FILES.ROOT"></span></md-tooltip>
        </a>
      </div>
    </div>
  </div>
  <!-- / HEADER -->

  <md-content>
    <table
      class="table md-whiteframe-2dp mp-table-striped"
      st-table="vm.displayedFiles" st-safe-src="vm.files"
      mp-table mp-progress="vm.loading">
      <!--smart-table smart-progress="vm.loading"-->
      <thead>
      <tr>
        <th class="icon"></th>
        <th st-sort="filename">
          <span class="column-title" translate="FILES.LABELS.FILENAME"></span>
        </th>
        <th st-sort="typeLabel">
          <span class="column-title" translate="FILES.LABELS.TYPE"></span>
        </th>
        <th class=size" st-sort="size">
          <span class="column-title" translate="FILES.LABELS.SIZE"></span>
        </th>
        <th st-sort="mtime" st-sort-default="reverse">
          <span class="column-title" translate="FILES.LABELS.MODIFIED"></span>
        </th>
        <th class="not-sortable">
          <span class="column-title" translate="FILES.LABELS.ACTIONS"></span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="f in vm.displayedFiles" ng-click="vm.fs.select(f)" ng-dblclick="vm.fs.open(f)">
        <td>
          <md-icon md-font-icon="{{::f.icon}}"></md-icon>
        </td>
        <td class="title">
          <div>
            {{::f.filename}}
            <md-tooltip><span>{{::f.filename}}</span></md-tooltip>
          </div>
        </td>
        <td translate="{{::f.typeLabel}}"></td>
        <td>{{::f.size | formatSize}}</td>
        <td>{{::f.mtime | date}}</td>
        <td class="actions">
          <a ui-sref="::eygle.movies.details({id: f._movie})" ng-if="::f._movie">
            <md-button class="action" aria-label="See">
              <md-icon md-font-icon="icon-eye"></md-icon>
              <md-tooltip>
                <span translate="FILES.ACTIONS.SEE"></span>
              </md-tooltip>
            </md-button>
          </a>
          <md-button class="action" aria-label="get all links" ng-if="::f.directory">
            <md-icon md-font-icon="icon-link-variant"></md-icon>
            <md-tooltip>
              <span translate="FILES.ACTIONS.ALL_LINKS"></span>
            </md-tooltip>
          </md-button>
          <md-button class="action" aria-label="Identify">
            <md-icon md-font-icon="icon-pencil"></md-icon>
            <md-tooltip>
              <span translate="FILES.ACTIONS.IDENTIFY"></span>
            </md-tooltip>
          </md-button>
          <md-button class="action" aria-label="Delete">
            <md-icon md-font-icon="icon-trash"></md-icon>
            <md-tooltip>
              <span translate="FILES.ACTIONS.DELETE"></span>
            </md-tooltip>
          </md-button>
        </td>
      </tr>
      </tbody>
      <tfoot mp-table-pagination st-items-by-page="25"></tfoot>
    </table>
  </md-content>
</div>