@import "../../../styles/common";

.files {
  .header {
    padding-bottom: 10px !important;

    .breadcrumbs {
      margin-top: 25px;
      color: lighten($color-bg-light, 25%);

      & > .breadcrumb {

        & + .breadcrumb {
          position: relative;
          padding-left: 30px;
          &:before {
            content: "\e717";
            position: absolute;
            left: 5px;
            top: -2px;
            font-family: 'icomoon';
            font-size: 24px;
            width: 24px;
            height: 24px;
            min-width: 24px;
            min-height: 24px;
            line-height: 24px;
            color: darken($color-bg-light, 10%);
          }
        }

        & > a {
          &:hover {
            color: $color-highlight !important;

            & > md-icon {
              color: $color-highlight;
            }
          }

          & > md-icon {
            color: darken($color-bg-light, 10%);
          }
        }
      }
    }

    .actions {
      height: $size-icon;
    }
  }

  table {
    table-layout: fixed;

    th.icon {
      width: 24px;
    }
    th[st-sort="size"] {
      width: 80px;
    }
    th[st-sort="typeLabel"] {
      width: 80px;
    }
    th[st-sort="mtime"] {
      width: 100px;
    }

    tr {
      &.selected {
        background-color: transparentize($color-highlight, 0.7);
      }

      td {
        cursor: default;

        .highlight {
          color: darken($color-highlight, 20%);
        }

        &.title {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &.actions {
          white-space: nowrap;
        }
      }
    }
  }
}