.files {
  table {
    th.icon {
      width: 24px
    }

    th[st-sort="filename"] {
      width: 1px;
    }
    th[st-sort="size"] {
      width: 70px;
    }
    th[st-sort="mtime"] {
      width: 100px;
    }

    td.title {
      white-space: nowrap;
      overflow: hidden;
    }

    td.actions {
      white-space: nowrap;
    }
  }
}