#cron {
  tr.running {
    background-color: transparentize(#4CAF50, 0.9);
  }

  tr.un-scheduled {
    background-color: transparentize(#F44336, 0.9);
  }

  td span.logs-link {
    color: rgb(3, 155, 229);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  td.actions > button {
    width: 24px;
    height: 24px;
    padding: 0;
  }
}