/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
@import "styles/common";

body {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}

.background-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  //background-color: #3f4245;

  .background-img {
    background-image: url('/assets/images/background-7.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }

  .background-noise {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/assets/images/noise.png');
    z-index: 2;
  }
}

#main {
  height: 100%;
  width: 100%;

  #content {
    background-color: transparent;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .padding-content {
    padding: 15px;
  }

  h2 {
    font-size: 19px;
    color: $color-h2;
    font-weight: normal;

    .nb-items {
      color: $color-sub-h2;
    }
  }

  md-tabs {
    overflow: visible;
  }

  .md-button.action {
    min-height: $size-icon;
    min-width: $size-icon;
    max-height: $size-icon;
    max-width: $size-icon;
    line-height: $size-icon;
    margin: 0;
    padding: 0;

    & > md-icon {
      font-size: $size-icon;
      width: $size-icon;
      height: $size-icon;
      line-height: $size-icon;
    }
  }

  .header {
    padding: 25px;

    &.md-accent-bg {
      background-color: rgb(96, 125, 139);
      //background-color: $color-bg-light;
      color: $color-invert-bg-light;
    }

    .h1 {
      font-size: 1.5em;
    }

    .search-input-wrapper {
      md-input-container {
        margin: 0;
      }

      md-icon {
        color: darken($color-invert-bg-light, 25%);
      }

      input {
        color: darken($color-invert-bg-light, 25%);

        &::-webkit-input-placeholder {
          color: darken($color-invert-bg-light, 50%);
        }
      }

      .md-errors-spacer {
        display: none;
      }
    }
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
  }

  .content {
    padding: 24px;
  }

  .simple-table-container {
    background: #FFF;

    .table-title {
      font-size: 20px;
      padding: 24px;
    }
  }

  table {
    &.simple {
      width: 100%;
      border: none;
      border-spacing: 0;
      text-align: left;

      thead tr th {
        padding: 16px 8px;
        font-weight: 500;
        color: rgba(0,0,0,.54);
        border-bottom: 1px solid rgba(0,0,0,.12);
        white-space: nowrap;
        min-width: 120px;

        &:first-child {
          padding-left: 24px;
        }
      }

      tbody tr td {
        padding: 16px 8px;
        border-bottom: 1px solid rgba(0,0,0,.12);

        &:first-child {
          padding-left: 24px;
        }
      }
    }
  }
}