.medias-container {
  .media {
    $width: 154px;
    $height: 222px;

    width: $width;
    margin: 10px;

    .image-crop {
      position: relative;
      width: $width;
      height: $height;
      overflow: hidden;
      border-radius: 2px;
      box-shadow: 0 0 2px #777;

      & > img {
        min-height: $height;
      }

      & > .image-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: $height;
        background-color: rgba(0, 0, 0, 0.6);
        cursor: pointer;

        & > div {
          width: $width;
          height: $height;

          & > md-icon {
            color: white;
            font-size: $width / 3;
            width: $width / 3;
            height: $width / 3;
            line-height: $width / 3;
          }
        }
      }
    }

    &:hover .image-crop > .image-hover {
      display: block;
    }

    .info {
      margin-top: 5px;
      .title {
        font-size: 14px;
      }

      .subtitle {
        color: #666;
        font-size: 11px;
        display: inline;
      }
    }
  }
}