@import "../common";

$width: 250px;
$margin-sides: 20px;
$items-margin: 20px;
$font-size: 16px;
$icon-size: $font-size + 3px;

$bg-color: $dark-grey;
$color: #999;
$highlight: #FFD740;

#vertical-navigation {
  width: $width;
  background-color: $bg-color;

  md-toolbar {
    background-color: darken($bg-color, 5%);
    height: 100px;

    h1 {
      text-align: center;
    }
  }

  ul {
    padding: 0;
    margin: $items-margin / 2 0 0 0;

    & > li {
      padding: $items-margin / 2 $margin-sides;

      &.selected > a {
        color: $highlight;
        & > span {
          color: white;
        }
      }

      &.separator {
        padding: 0;
        margin: $items-margin $margin-sides;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      & > a {
        color: $color;
        font-size: $font-size;
        vertical-align: middle;

        &:hover > span {
          color: white;
        }

        & > md-icon {
          color: inherit;
          margin-right: 10px;
          font-size: $icon-size;
          width: $icon-size;
          height: $icon-size;
          min-width: $icon-size;
          min-height: $icon-size;
          line-height: $icon-size;
          vertical-align: top;
        }
      }
    }
  }
}