<div class="internal-toolbar">
   <div class="info">
      <div class="title">{{::vm.movie.title}}</div>
   </div>
   <div class="actions"></div>
</div>

<div class="content media-container" layout="row" flex>
   <div class="poster-container">
      <div class="visual">
         <img ng-src="{{vm.movie.poster}}"/>
      </div>
   </div>
   <div class="info-container" flex="100">
      <div class="main-info">
         <h2>{{::vm.movie.title}}</h2>
         <div layout="row">
            <div class="date">{{::vm.movie.date.getFullYear()}}</div>
            <div class="rate"></div>
         </div>
         <div layout="row" layout-align="space-between">
            <div><span ng-if="::vm.movie.runtime">{{::vm.movie.runtime | duration}}</span></div>
            <div>{{::(vm.movie.genres.join(', '))}}</div>
         </div>
      </div>

      <div class="separator"></div>

      <div class="secondary-info">
         <div class="row">
            <div class="label"></div>
            <div class="crew">
               <a ng-repeat="c in ::vm.movie.crew | limitTo: 3">{{c.name}}</a>
            </div>
         </div>
         <div class="row"></div>
         <div class="row"></div>
         <div class="row"></div>
         <div class="row overview">{{::vm.movie.overview}}</div>
      </div>

      <div class="cast"></div>
   </div>
</div>