<md-content class="md-padding">
   <div class="movie-proposals" ng-repeat="m in vm.movies | orderBy: '-mtime'">
      <div layout="row" layout-align="space-between center">
         <div class="title" ng-click="m.expand = !m.expand">
            <md-icon md-font-icon="icon-menu-right" ng-if="!m.expand"></md-icon>
            <md-icon md-font-icon="icon-menu-down" ng-if="m.expand"></md-icon>
            <span>{{m.path ? m.path + '/' : null}}{{::m.filename}}</span>
         </div>
         <md-button ng-click="vm.deleteProposals(m)" aria-label="delete">
            <md-icon md-font-icon="icon-trash"></md-icon>
         </md-button>
      </div>
      <div class="medias-container" layout="row" layout-wrap ng-if="m.expand">
         <div class="media" ng-repeat="p in m.proposals" ng-click="vm.choose(m, p)">
            <div class="image-crop">
               <img ng-src="{{::p.poster}}" alt="{{::p.title}}"/>
               <div class="image-hover">
                  <div layout="row">
                     <md-icon md-font-icon="icon-check"></md-icon>
                  </div>
               </div>
            </div>
            <div class="info">
               <div class="title">{{::p.title}}</div>
               <div class="subtitle">{{::p.date.getFullYear()}}</div>
            </div>
         </div>
      </div>
      <div class="loading" layout="row" layout-sm="column" layout-align="space-around centerq" ng-if="m.loading">
         <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
   </div>
</md-content>