@import "../../styles/common";

body.login, body.register {
  a {
    cursor: pointer;
    color: #37474F !important;
    margin: 25px 0;

    &:hover {
      text-decoration: underline !important;
    }
  }
}