<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block body %}{% endblock %}
<br/>
A+ !<br/>
<br/>
---<br/>
Eygle's Downloads Server<br/>
<a href="http://eygle.fr/downloads">http://eygle.fr/downloads</a>
</body>
</html>