/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


#main {
  height: 100%;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }

  #content {
    & > * {
      &:first-child {
        display: block;
        width: 100%;

        & > * {
          height: 100%;
        }
      }
    }
  }

  .padding-content {
    padding: 15px;
  }

  h2 {
    font-size: 19px;
    color: #666;
    font-weight: normal;

    .nb-items {
      color: #ccc;
    }
  }

  .medias-container {
    .media {
      $width: 154px;
      $height: 222px;

      width: $width;
      margin: 10px;

      .image-crop {
        position: relative;
        width: $width;
        height: $height;
        overflow: hidden;
        border-radius: 2px;
        box-shadow: 0 0 2px #777;

        & > img {
          min-height: $height;
        }

        & > .image-hover {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: $width;
          height: $height;
          background-color: rgba(0, 0, 0, 0.6);
          cursor: pointer;

          & > div {
            width: $width;
            height: $height;

            & > md-icon {
              color: white;
              font-size: $width / 3;
              width: $width / 3;
              height: $width / 3;
              line-height: $width / 3;
            }
          }
        }
      }

      &:hover .image-crop > .image-hover {
        display: block;
      }

      .info {
        margin-top: 5px;
        .title {
          font-size: 14px;
        }

        .subtitle {
          color: #666;
          font-size: 11px;
          display: inline;
        }
      }
    }
  }

  md-tabs {
    overflow: visible;
  }
}